
.section {
    padding:20px;
	background-color: #cdcfd9;
	padding: 20px;
	margin: 20px auto;
	border: solid 2px red;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	max-width: 800px;
	min-width: 300px;
	text-align: center;
	width: 80%;
}
.oval-button {
	margin-top:500px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50%; /* Valeur qui rend le bouton oval */
    background-color: #3C3B6E; /* Couleur de fond */
	color:white;
    text-align: center;
    font-size: 16px;

}
#oval-button-inscr{
	margin-left:140px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px; /* Valeur qui rend le bouton oval */
    background-color: #3C3B6E; /* Couleur de fond */
    text-align: center;
    font-size: 16px;
	color: white;
	border: 1px solid #3C3B6E;
}
#body_bleu{
	background-color:#3C3B6E;
}
body{
	background-color:white;
}
.carre_inscr{
	width:400px;
	height:400px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:5px;
}
.carre_connexion{
	width:400px;
	height:300px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:60px;
}
.carre_questionnaire{
	width:400px;
	height:450px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:5px;
}
.page-universite{
	background-color:D9D9D9;
}
#nom_univ{
	color:blue;
	font-size: 16px;
}


footer{
	margin-top: 200px;
	background-color: #ec1029;
    color: white;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}
.quake-info {
	position: absolute;
	font-family: sans-serif;
	margin-top: 5px;
	margin-left: 5px;
	padding: 5px;
	width: 30%;
	border: 2px solid black;
	font-size: 14px;
	color: #222;
	background-color: #fff;
	border-radius: 3px;
  }