.oval-button {
	margin-top:500px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px; /* Valeur qui rend le bouton oval */
    background-color: #3C3B6E; /* Couleur de fond */
	color:white;
    text-align: center;
    font-size: 16px;

}
#oval-button-inscr{
	margin-left:140px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px; /* Valeur qui rend le bouton oval */
    background-color: #3C3B6E; /* Couleur de fond */
    text-align: center;
    font-size: 16px;
	color: white;
	border: 1px solid #3C3B6E;
}
#body_bleu{
	background-color:#3C3B6E;
}
body{
	background-color:white;
}
.carre_inscr{
	width:400px;
	height:400px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:5px;
}
.carre_connexion{
	width:400px;
	height:300px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:60px;
}
.carre_questionnaire{
	width:400px;
	height:450px;
	background-color:#E5E5E5;
	text-indent:justify;
	margin-left:35%;
	margin-top:10%;
	padding-left:25px;
	padding-top:5px;
}
footer{
	background-color: #B22234;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}